<%- include("partials/header") %> 
<h1>Contact</h1>
<br>
<p><strong>Phone 1:</strong> <%= contactPhone1 %></p>
<p><strong>Phone 2:</strong> <%= contactPhone2 %></p>
<p><strong>E-mail:</strong> <%= contactEMail %></p>
<p><strong>Adress:</strong> <%= contactAdress %></p>

<%- include("partials/footer") %> 