<%- include("partials/header") %> 

<h1> <%= wantedPostTitle %> </h1>
<p> <%= wantedPostIntro %> </p>
<h2> <%= wantedPostSection1Title %>  </h2>
<p> <%= wantedPostSection1 %>  </p>
<h2> <%= wantedPostSection2Title %>  </h2>
<p> <%= wantedPostSection2 %>  </p>
<h2> <%= wantedPostSection3Title %>  </h2>
<p> <%= wantedPostSection3 %>  </p>
<h2> <%= wantedPostConclusionTitle %>  </h2>
<p> <%= wantedPostConclusion %>  </p>

<%- include("partials/footer") %> 